@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* { box-sizing: border-box; }
html {
  font-size: 18px;
}
body {
  margin: 0;
  background: #262626;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight:300;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 3rem;
  line-height: 3.4rem;
}
h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.75rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.5rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.4rem;
}
.title h2{
  letter-spacing: 0.75rem;
  font-weight: 300;
  margin-top: 50px;
}
.title h1{
  letter-spacing: 0.5rem;
}
.flexbox .still {
  display: flex;
  align-items: center;
}
.no-flexbox .qoute {
  position: absolute;
  top: 40%;
  max-width: 640px;
}
.quote {
  max-width: 700px;
}
q {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.15rem;
  padding: 75px;
  display: block;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
/* Layout
———————————————————————————————————— */
.row .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.row .inner:before,
.row .inner:after,
.row::before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.image {
  text-align: center;
}
.image img {
  width: 100%;
  border-radius: 50%;
}
.inner {
  padding: 15px;
}
.col {
  padding: 30px;
}
/* END Layout
———————————————————————————————————— */
/* Intro
———————————————————————————————————— */
header.title {
  text-align: center;
  padding: 100px 100px 120px;
}
/* END Intro
———————————————————————————————————— */
/* Team
———————————————————————————————————— */
.team-members img {
  max-width: 300px;
  border-radius: 50%;
  margin:0 auto;
}
.team h3 {
  margin-top: -100px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  letter-spacing: 0.17rem;
}
.team .meta h4 {
  text-align: center;
}
.team .meta{
  margin-top:50px;
}

/* END Team
———————————————————————————————————— */
/* Bits
———————————————————————————————————— */
.still {
  min-height: 450px;
  height: 60vh;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
.logo {
  text-align: center;
}
.col img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}
.verzendbutton{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight:300;
  letter-spacing: 0.5rem;
}
.center {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  text-transform: inherit;
}
/* END Bits
———————————————————————————————————— */
/* Input
———————————————————————————————————— */
input {
  width: 100%;
  border: 0;
  font-size: 1.4rem;
  padding: 15px;
  margin-bottom: 15px;
}
button {
  float: right;
  border: 0;
  background: #444;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 45px;
  font-size: 1rem;
  cursor: pointer;
}
/* END Input
———————————————————————————————————— */
/* Footer
———————————————————————————————————— */
footer#colophon {
  background: #202020;
  color: #fff;
}
footer#colophon .sa-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
footer#colophon a {
  text-decoration: none;
  color: #fff;
}
footer#colophon p {
  margin: 0;
}
.sa-col {
  display: inline-block;
}
.sa-credits,
.sa-col {
    padding: 15px 45px 20px;
		text-align: left;
}
.sa-credits {
  background: rgba(0,0,0,.2);
  display: inline-block;
}
.sa-credits p {
  font-size: 14px;
  font-weight: 600;
}
.sa-credits:hover {
  background: rgba(0,0,0,.4);
}
.sa-credits > * {
  display: inline-block;
}
.sa-credits img {
  width: 40px;
}
.sa-linkback {
  display: inline-block;
  margin-right: 5px;
  text-align: right;
}
.sa-linkback > * {
  display: block;
}
.sa-linkback a {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.sa-linkback p {
  margin-bottom: 0;
}
.sa-linkback span {
  font-size: 9px;
  margin-right: 5px;
  line-height: 10px;
}
/* END Footer
———————————————————————————————————— */
/* MQ
———————————————————————————————————— */
@media only screen and (min-width : 768px) {
	/* Styles */
  .text {
    width: 70%;
    padding-right: 75px;
  }
  .image {
    width: 30%;
  }
  .col {
    float: left;
    width: 50%;
  }
  .text, .image {
    float: left;
  }
  .inner {
    padding: 150px 50px;
  }
  .team-members .inner > * {
    width: 33%;
    float: left;
    padding: 30px;
  }
}
/* END MQ
———————————————————————————————————— */
