@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* { box-sizing: border-box; }
html {
  font-size: 18px;
}
body {
  margin: 0;
  background: #262626;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 3rem;
  line-height: 3.4rem;
}
h2 {
  font-size: 1.2rem;
  line-height: 1.8rem
}
h3 {
  font-size: 1.8rem;
  line-height: 2.2rem
}
h4 {
  font-size: 1rem;
  line-height: 1.4rem
}
.qoute {
  position: absolute;
  top: 40%;
  display: block;
  max-width: 640px;
}
q {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 65px;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
/* Layout
———————————————————————————————————— */
.row .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.row::before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.image {
  text-align: center;
}
.image img {
  width: 100%;
  border-radius: 50%;
}
.inner {
  padding: 15px;
}
/* END Layout
———————————————————————————————————— */
/* Intro
———————————————————————————————————— */
header.title {
  text-align: center;
  padding: 65px;
}
/* END Intro
———————————————————————————————————— */
/* Team
———————————————————————————————————— */
.team-members img {
  width: 100%;
  border-radius: 50%;
}
/* END Team
———————————————————————————————————— */
/* Bits
———————————————————————————————————— */
.still {
  min-height: 450px;
  height: 60vh;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
/* END Bits
———————————————————————————————————— */
/* Bits
———————————————————————————————————— */
footer#colophon {
  background: #202020;
  color: #fff;
}
footer#colophon .sa-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
footer#colophon a {
  text-decoration: none;
  color: #fff;
}
footer#colophon p {
  margin: 0;
}
.sa-col {
  display: inline-block;
}
.sa-credits,
.sa-col {
    padding: 15px 45px 20px;
		text-align: left;
}
.sa-credits {
  background: rgba(0,0,0,.2);
  display: inline-block;
}
.sa-credits p {
  font-size: 14px;
  font-weight: 600;
}
.sa-credits:hover {
  background: rgba(0,0,0,.4);
}
.sa-credits > * {
  display: inline-block;
}
.sa-credits img {
  width: 40px;
}
.sa-linkback {
  display: inline-block;
  margin-right: 5px;
  text-align: right;
}
.sa-linkback > * {
  display: block;
}
.sa-linkback a {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.sa-linkback p {
  margin-bottom: 0;
}
.sa-linkback span {
  font-size: 9px;
  margin-right: 5px;
  line-height: 10px;
}
/* END Bits
———————————————————————————————————— */
/* MQ
———————————————————————————————————— */
@media only screen and (min-width : 768px) {
	/* Styles */
  .text {
    width: 70%;
  }
  .image {
    width: 30%;
  }
  .col {
    float: left;
    width: 50%;
  }
  .text, .image {
    float: left;
  }
  .inner {
    padding: 65px;
  }
  .team-members .inner > * {
    width: 33%;
    float: left;
    padding: 30px;
  }
}
/* END MQ
———————————————————————————————————— */
