---
layout: default
---
<div class="row intro">
  <header class="title">
    <h1>{{ site.title }}{% include social.html %}</h1>
    <h2>{{ site.subtitle }}</h2>
  </header>
  <iframe src="https://player.vimeo.com/video/{{ site.vimeo }}?title=0&byline=0&portrait=0" width="1175" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="row synopsis">
  <div class="inner">
    <div class="text">
      <p>Dit is een film voor en over mijn opa, het is een portret van Chris Nagel. Zijn hele leven heeft hij voor anderen gezorgd, waaronder twintig jaar voor zijn vrouw na een herseninfarct. Nadat het na een ernstige ziekte niet meer lukte om voor zichzelf te zorgen, aanvaarde hij het lot van het verzorgingstehuis, iets wat hij altijd had afgezworen:  Opgesloten en vergeten noemde hij het.</p>
      <p>Nu woont hij een jaar in Huis ter Hagen in Driehuis. Het voor hem laten zorgen kan hij nog moeilijk accepteren. Hij helpt iedereen nog dagelijks, hierdoor heeft hij eindelijk zijn plek gevonden.</p>
      <p>Naast dat ik natuurlijk onwijs trots ben op mijn opa, denk ik dat dit soort verhalen erg belangrijk zijn om te vertellen.</p>
      <h2>Woutair Koomen</h2>
    </div>
    <div class="image">
      {% assign author = (site.team | where:"order",1 ) %}
      {% for team in author %}
      <img src="img/{{ team.title | slugify }}.jpg" alt="{{ team.title }}" />
      {% endfor %}
      {% include social.html %}
    </div>
  </div>
</div>
<div class="row still" style="background: url('img/{{ site.title | slugify}}.jpg')">
  <div class="quote">
  <q>Iedereen kent me, dat komt natuurlijk omdat ik nog veel doe natuurlijk he.</q>
</div>
</div>
<div class="row team-members">
  <div class="inner">
    {% assign team_order = (site.team | sort: 'order') %}
    {% for post in team_order %}
    <div class="team">
      <img src="img/{{ post.title | slugify }}.jpg" alt="{{ post.title }}" />
      <h3>{{ post.title | replace:' ','<br>' }}</h3>
      <div class="meta">
      <h4>{{ post.function }}</h4>
      <p>{{ post.excerpt }}</p>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <h3 class="center">Contact</h3>
</div>
<div class="row">
  <div class="inner">
    <div class="col">
      <p>Spreekt deze film je aan en wil je in contact komen met de makers? gebruik dit formulier.</p>
      <form action="https://getsimpleform.com/messages?form_api_token=437affd6c3f191a503c05c14784c5185" method="post">
        <input type='hidden' name='redirect_to' value='//chrisnagel.nl/bedankt' />
        <input type="text" name="naam" placeholder="Naam">
        <input type="email" name="email" placeholder="Email">
        <input type="bericht" name="bericht" placeholder="Bericht">
        <input type='submit' value='Verzend' />
      </form>
    </div>
    <div class="col">
      <p>Deze film is ontstaan vanuit de wens om een mooi portret van mijn opa te maken. Ik geloof er sterk in dat er meer bijzondere ouderen zijn met een intrigerend verhaal. We kunnen natuurlijk meer verhalen op deze wijze vastleggen in opdracht.</p>
      <p>Dit soort portretten dragen bij aan een beter beeld van ouderen en de zorg-instellingen die zich over hun bekommeren.</p>
      {% include social.html %}
    </div>
  </div>
</div>

<div class="row">
  <div class="inner logo">
      <a href="//adays.nl">
        <img src="img/adays.svg" alt="ADAYS | We are a hybrid design film company that nurtures unbounded stories" />
      </a>
    </div>
</div>
