---
layout: default
---
<div class="row intro">
  <header class="title">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.subtitle }}</h2>
  </header>
  <iframe src="https://player.vimeo.com/video/{{ site.vimeo }}?title=0&byline=0&portrait=0" width="1110" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="row synopsis">
  <div class="inner">
    <div class="text">
      <p>Deze video word een portret documentaire van Chris Nagel, een 83 jaar oude man die zijn hele leven hee  gezorgd voor anderen. Tot het moment er op aan kwam dat hij niet meer voor zichzelf kon zorgen.</p>
      <p>Hij werd erns g ziek en na zijn terugkeer (alleen thuis) bese e hij dat het hem niet meer alleen ging lukken. Hij aanvaarde het advies om in een verzorgingstehuis te gaan wonen.</p>
      <p>Al snel werd hij onderdeel van het team door zijn inzet in de catering. Nu er weer voor hem word gezorgd kan hij weer voor andere zorgen.</p>
      <p>Daarnaast hee  hij een erg slecht zicht wat het allemaal nog las ger en onbegrijpelijker maakt.</p>
      <p>Waarom zou je met zulke beperkingen nog zoveel hulp bieden op je oude dag?</p>
    </div>
    <div class="image">
      {% assign author = (site.team | where:"order",1 ) %}
      {% for team in author %}
      <img src="img/{{ team.title | slugify }}.jpg" alt="{{ team.title }}" />
      <h2>{{ team.title }}</h2>
      {% endfor %}

    </div>
  </div>
</div>
<div class="row still" style="background: url('img/{{ site.title | slugify}}.jpg')">
  <div class="qoute">
  <q>Iedereen kent me, dat komt natuurlijk omdat ik nog veel doe natuurlijk he.</q>
</div>
</div>
<div class="row team-members">
  <div class="inner">
    {% assign team_order = (site.team | sort: 'order') %}
    {% for post in team_order %}
    <div class="team">
      <img src="img/{{ post.title | slugify }}.jpg" alt="{{ post.title }}" />
      <h3>{{ post.title }}</h3>
      <div class="meta">
      <h4>{{ post.function }}</h4>
      <p>{{ post.excerpt }}</p>
    </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="inner">
    <div class="col">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <form accept-charset="UTF-8" action="https://formkeep.com/f/91f550e93f02" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="text" name="naam" placeholder="Naam">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Stuur</button>
      </form>
    </div>
    <div class="col">
      <img src="img/adays.svg" alt="ADAYS | We are a hybrid design film company that nurtures unbounded stories" />
    </div>
  </div>
</div>
