<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body class="{{ page.path | remove: ".html" }}">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript">
      $(function(){function t(){e.css({width:i,height:e.height()*(i/e.outerWidth())})}var n,e=$("iframe"),i=e.parent().width(),o=$f(e[0]),d=!1;t(),o.addEvent("ready",function(){o.addEvent("pause",function(){d=!1}),o.addEvent("finish",function(){d=!1}),o.addEvent("playProgress",function(){d||($("html, body").animate({scrollTop:e.offset().top},1200),d=!0)})}),window.onresize=function(){clearTimeout(n),n=setTimeout(t,100)}});
    </script>
  </body>

</html>
