<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body class="{{ page.path | remove: ".html" }}">

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript">
      $(function(){function i(){var i=$("iframe"),t=i.parent().width();i.css({width:t,height:i.height()*(t/i.outerWidth())})}i();var t;window.onresize=function(){clearTimeout(t),t=setTimeout(i,100)}});
    </script>
  </body>

</html>
